.panel-default .panel-heading table th{
  background-color: #34495e !important;
  font-weight: 300 !important;
  font-size: 19px!important;
  font-family: 'Lato', sans-serif !important;
  color:#fff !important;
}

table th{
  background-color: #34495e !important;
  font-weight: 300 !important;
  font-size: 19px!important;
  font-family: 'Lato', sans-serif !important;
  color:#fff !important;
}

.wrapper{
  background-color: #fff !important;
}

body {
  overflow-x:hidden !important;
}