.panel-default .panel-heading table th{
  background-color: #34495e !important;
  font-weight: 300 !important;
  font-size: 19px!important;
  font-family: 'Lato', sans-serif !important;
  color:#fff !important;
}

table th{
  background-color: #34495e !important;
  //background-color: #3097D1 !important;
  font-weight: 300 !important;
  font-size: 14px!important;
  font-family: 'Lato', sans-serif !important;
  color:#fff !important;
}

.wrapper{
  background-color: #fff !important;
}

body {
  overflow-x:hidden !important;
}

.margin-top-40{
  margin-top: 40px;
}

.margin-top-25{
  margin-top: 25px;
}

.margin-top-15{
  margin-top: 15px;
}

.font{
  font-size: 14px!important;
  font-family: 'Lato', sans-serif !important;
  color:#fff9e5 !important;
}

.page-header{
  font-family: 'Lato', sans-serif !important;
}

td{
  text-align: center;
}

th{
  text-align: center !important;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
  border: none !important;
}

.panel-primary > .panel-heading {
  background-color: #34495e !important;
}

.btn-success {
  background-color: #34495e !important;
}

.page-header {
  //font-family: "Roboto Condensed", sans-serif !important;
  font-family: "Raleway", sans-serif !important;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  //left: 0px;
  //top: 0px;
  position: fixed;
  width: 75%;
  height:100%;
  z-index: 9999;
  background: url(../images/loading.gif) center no-repeat #fff;
}